
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit secrets
.secrets.toml

# VS Code files
.vscode/

# OS system files
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
*.py[codz]
*$py.class

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Ruff stuff:
.ruff_cache/